.confirm-email {
  display: flex;
  height: 100vh;
}

.confirm-email .frame1 {
  background: #f5f9ff;
  height: 100%;
  display: flex;
  padding-left: 84px;
  padding-right: 24px;
  align-items: center;
  width: 50%;
}

.confirm-email .frame1 .get-email {
  background-color: #ffffff;
  max-width: 662px;
  padding-block: 32px;
  text-align: center;
  height: fit-content;
}

.confirm-email .frame1 .get-email h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0em;
  margin-bottom: 16px;
}

.confirm-email .frame1 .get-email .sub-heading {
  font-weight: 600px;
  font-size: 16px;
  line-height: 19.36px;
}

.confirm-email .frame1 .get-email .enter-code {
  margin-top: 100px;
  max-width: 432px;
  margin-inline: auto;
}

.confirm-email .frame1 .get-email .enter-code span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.confirm-email .frame1 .get-email .enter-code .get-email-btn {
  margin-top: 64px;
}
