.sidebar {
  background: #144eac;
  color: #fff;
  height: 100vh;
  width: 296px;
  transition: all 0.5s;
  padding-block: 50px;
  padding-inline: 20px;
}

.sidebar .sidebar-inner .menu {
  margin-top: 33px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.sidebar .sidebar-inner .menu p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.0015em;
}

.sidebar .sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .sidebar-list .sidebar-component:first-child {
  background-color: white;
  color: black;
  border-radius: 12px;
  display: flex;
  padding: 10px;
  align-items: center;
}

.sidebar .sidebar-list .sidebar-component p {
  margin-left: 15px;
}

.sidebar .sidebar-list #name {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

.sidebar .upgrade {
  display: flex;
  margin-top: auto;
}

.sidebar .upgrade p {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
