.sidebar {
  background: #144eac;
  color: #fff;
  height: 100%;
  width: 296px;
  transition: all 0.5s;
  padding-block: 50px;
  padding-inline: 20px;
  position: relative;
}

.sidebar .sidebar-inner {
  /* position: relative; */
}

.sidebar .sidebar-inner .menu {
  margin-top: 33px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.sidebar .sidebar-inner .menu p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.0015em;
}

.sidebar .sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .sidebar-list .sidebar-component.active {
  background-color: white;
  color: black;
  border-radius: 12px;
  display: flex;
  padding: 10px;
  align-items: center;
}

.sidebar .sidebar-list .sidebar-component {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar .sidebar-list .sidebar-component p {
  margin-left: 15px;
}

.sidebar .sidebar-list .name {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

.sidebar .upgrade {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 50px;
}

.sidebar .upgrade p {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}
