.bizcardlist-container {
  padding-inline: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.bizcardlist-container h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px; /* 141.667% */
}

.all-bizcard-container {
  display: flex;
  gap: 20px;
}

.single-bizcard-container {
  width: 200px;
  background-color: #ffffff;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.single-bizcard-container .content-box {
  padding-inline: 20px;
  padding-bottom: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-bizcard-container h3 {
  margin-top: 0px;
  margin-bottom: 1px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.single-bizcard-container p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 129.412% */
  letter-spacing: 0.085px;
}

.light-button {
  width: 100%;
  padding: 8px 40px;
  border-radius: 10px;
  background: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.085px;
  text-align: center;
  outline: none;
  border: 1px #144eac solid;
}

.light-button a {
  text-decoration: none;
  color: #144eac;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .all-bizcard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .single-bizcard-container {
    width: 230px;
  }
}

@media screen and (max-width: 576px) {
  .bizcardlist-container h2 {
    font-size: 24px;
    line-height: 37px;
  }

  .all-bizcard-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  .single-bizcard-container {
    width: 240px;
  }

  .single-bizcard-container h3 {
    font-size: 17px;
  }

  .single-bizcard-container p {
    font-size: 12px;
  }

  .light-button {
    font-size: 13px;
  }
}
