.companies {
  margin-top: 700px;
  text-align: center;
  padding-bottom: 82px;
}

.companies-body .companies-text {
  font-size: 34px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.0025em;
  margin-bottom: 60px;
}

.companies-body .companies-logos {
  display: flex;
  max-width: 1119px;
  margin-inline: auto;
  gap: 70px;
}

.companies-body .companies-logos img {
  width: 169px;
  height: 40px;
}
