



.navbar {
  background-color: #fff;
  height: 120px;
  display: flex;
  align-items: center;
}

.navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .nav .brand {
  width: 215px;
  height: 66px;
}

.navbar .nav .nav-list {
  display: flex;
  gap: 57px;
}

.navbar .nav .nav-list li {
  color: #144eac;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.navbar .nav .nav-btns {
  display: flex;
  gap: 17px;
}


.navbar {
  background-color: #fff;
  height: 120px;
  display: flex;
  align-items: center;
}

.navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .nav .brand {
  width: 215px;
  height: 66px;
}

.navbar .nav .nav-list {
  display: flex;
  gap: 57px;
}

.navbar .nav .nav-list li {
  color: #144eac;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.navbar .nav .nav-btns {
  display: flex;
  gap: 17px;
}
