/* #root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

/* anchor elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

Link {
  text-decoration: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */
.block {
  max-width: 1344px;
  margin-inline: auto;
}

.home-btn {
  width: 227px;
  max-height: 52px;
  border-radius: 8px;
  padding: 20px;
  font-size: 17px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-btn-blue {
  background-color: #144eac;
  color: white;
  transition: hover 0.3s ease-in;
}

.home-btn-white {
  background-color: #fff;
  color: #144eac;
  border: 1px solid #144eac;
}

.home-btn-blue:hover {
  background-color: #073277;
}

.home-btn-white:hover {
  background-color: #eee9e9;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


/* .home-btn {
  width: 227px;
  max-height: 52px;
  border-radius: 8px;
  padding: 20px;
  font-size: 17px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-btn-blue {
  background-color: #144eac;
  color: white;
  transition: hover 0.3s ease-in;
}

.home-btn-white {
  background-color: #fff;
  color: #144eac;
  border: 1px solid #144eac;
}

.home-btn-blue:hover {
  background-color: #073277;
}

.home-btn-white:hover {
  background-color: #eee9e9;
}

.home-btn.accent {
  width: 249px;
} */
